//Медиа
@mixin notebook {
    @media (max-width: 1400px){
        @content;
    }
}

@mixin laptop {
    @media (max-width: 1150px){
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1010px){
        @content;
    }
}

@mixin mobile {
    @media (max-width: 576px){
        @content;
    }
}

// Добавляем шрифты и объявляем переменные
$kurale-font: 'Kurale', serif;
$os-font: 'Open Sans', sans-serif;

//Объявляем переменные цвета
$white: #fff;
$white-opacity: rgba(255,255,255, 0.5);
//$yellow: #E8C300;
$yellow: #ff3434;
$color: #000;
$black-opacity: rgba(0, 0, 0, 0.5);
$gray: #e5e5e5;
$gray-opacity: rgba(51, 51, 51, 0.5);
$tabs: #333333;
$tabs-opacity: rgba(51, 51, 51, 0.2);

//Переменные размеры
$wrap: 1440px;
$container: 1230px;
$text-size: 18px;

//Помошники
$mc: 0 auto;

//Делаем МИКСИН
//Будем передавать в него две переменных $jc $ai
@mixin flex ($jc, $ai) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $jc; //Будем подставлять переменную как в возвратной функци
    align-items: $ai; //Будем подставлять переменную как в возвратной функци
}

//Еще МИКСИН который будет нашей маленькой полоской
@mixin line {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: $yellow;
    border-radius: 50px;
    margin: $mc;
    margin-top: 10px;
    margin-bottom: 25px;
}

//Сделаем миксин для изображений
@mixin img {
    width: 100%;
    height: auto;
    //Копируем тени и border-radius из фигмы
    filter: drop-shadow(0px 0px 50px $black-opacity);
    border-radius: 5px;
}

body {
    background: $white;
    font-family: $os-font;
    color: $color;
    font-size: $text-size;
    background: $gray;
}

.wrapper {
    max-width: $wrap;
    margin: $mc;
}

.container {
    max-width: $container;
    margin: $mc;
    padding: 0 15px;
}

//Чтобы наши SVG не были больше родителя
svg {
    width: 100%;
    height: 100%;
}

//Пропишем наши кружочки
.circle {
    width: 250px;
    height: 250px;
    border: 20px solid $yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    filter: drop-shadow(0px 0px 100px $black-opacity);
    @include notebook {
        display: none;
    }
}

section h2 {
    text-transform: uppercase;
    font-family: $kurale-font;
    font-weight: 400;
    font-size: 42px;
    //Используем наш миксин с полоской 
    &::after {
        @include line;
    }
}
section p {
    //Межстрочный отступ указываем в % что бы адаптировался под размер шрифта при медиазапросе
    line-height: 175%;
    margin-bottom: 25px;
}
.intro {
    font-weight: 700;
}



