// Добавляем шрифты и объявляем переменные
$kurale-font: 'Kurale', serif;
$os-font: 'Open Sans', sans-serif;

//Объявляем переменные цвета
$white: #fff;
$yellow: #E8C300;

//Переменные размеры
$wrap: 1470px;
$container: 1200px;

//Помошники
$mc: 0 auto;